<launch>
  
  <include file="$(find jackal_description)/launch/description.launch"/>

  <!--
  <include file="$(find rpirobot_description)/launch/description.launch"/>
  -->

  <include file="$(find realsense2_camera)/launch/opensource_tracking.launch"/>

  <!-- 
  <include file="$(find pc2l)/launch/pc2l_realsense.launch"/>

  <node pkg="rpirobot_description" name="imu_stitch" type="imu_stitch.py" output="screen" />
  -->
  <!-- 
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization" clear_params="true">
    <rosparam command="load" file="$(find robot_localization)/params/ekf_config.yaml" />-->
    <!-- <remap from="odometry/filtered" to="odom"/>	
  </node>-->

  <!-- rosbag record -O my_bagfile_2e.bag /camera/aligned_depth_to_color/camera_info  camera/aligned_depth_to_color/image_raw /camera/color/camera_info /camera/color/image_raw /camera/imu /camera/imu_info /tf_static -->


  <!-- 
  <arg name="scan_topic" default="base_scan" />

  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">

    <param name="odom_frame" value="odom"/>
    <param name="base_frame" value="base_link"/>
    <param name="map_frame" value="map"/>

    <param name="throttle_scans" value="1"/>

    <param name="map_update_interval" value="5.0"/> 

    <param name="maxUrange" value="2.0"/>

    <param name="maxRange" value="3.0"/>

    <param name="sigma" value="0.05"/>
    <param name="kernelSize" value="1"/>
    <param name="lstep" value="0.05"/>
    <param name="astep" value="0.05"/>
    <param name="iterations" value="5"/>
    <param name="lsigma" value="0.075"/>
    <param name="ogain" value="3.0"/>
    <param name="minimumScore" value="0.0"/>
    
    <param name="lskip" value="0"/>

    <param name="srr" value="0.01"/>
    <param name="srt" value="0.02"/>
    <param name="str" value="0.01"/>
    <param name="stt" value="0.02"/>

    <param name="linearUpdate" value="0.1"/>

    <param name="angularUpdate" value="0.05"/>

    <param name="temporalUpdate" value="-1.0"/>
    <param name="resampleThreshold" value="0.5"/>

    <param name="particles" value="10"/>

    <param name="xmin" value="-10.0"/>
    <param name="ymin" value="-10.0"/>
    <param name="xmax" value="10.0"/>
    <param name="ymax" value="10.0"/>

    <param name="delta" value="0.02"/>

    <param name="llsamplerange" value="0.01"/>
    <param name="llsamplestep" value="0.01"/>
    <param name="lasamplerange" value="0.005"/>
    <param name="lasamplestep" value="0.005"/>

    <remap from="scan" to="$(arg scan_topic)"/>
  </node>
  -->

</launch>
